<div class="col-md-12">
    <div class="card card-container">
  
      <form [formGroup]="formValue">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" />
        </div>
        <div class="form-group">
          <button type="button"  class="btn btn-primary btn-block">Inregistrare</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="isRegisterFailed">
          Inregistrare esuata!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>